<div class="panel panel-blur profile-page animated zoomIn" zoom-in="" ba-panel-blur="" style="background-size: 1519px 854px; background-position: 0px -64px;">
    <div class="panel-body">
        <div class="panel-content ng-scope">
            <h3 class="with-line">{{vm.facilitator.first_name}} {{ vm.facilitator.last_name }}</h3>
            <div class="row">
                <div class="col-md-3" style="margin-top: 10px;">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="userpic" style="border: 0px solid black">
                                <div class="userpic-wrapper">
                                    <img src="{{ vm.facilitator.img_uri }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row" style="margin-bottom: 30px;">
                        <h4>Compétences</h4>
                        <button ng-repeat="tag in vm.facilitator.tags" class="btn btn-xs btn-info" style="margin-left: 5px;">
                            <strong>{{ tag }}</strong>
                        </button>
                    </div>
                    <div class="row">
                        <h4>Prestations disponibles</h4>
                        <div class="add-row-editable-table">
                            <button class="btn btn-primary" ng-click="addUser()">Ajouter une préstation</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>